.popularTeal{
 color:#569CD6;
}

.popularGreen{
   color: #4EC9B0; color: rgb(34, 177, 122);
}
.curlyClass{
    color:#FFC813;
}

.functionBrackets{
    color:#3E9CD6;
}

.purpleBrackets{
    color:#7537a8;
}
.purpleCurly{
    color:#9556c8;
}
.objpropKey{
    color:#67CDFE;
}

.objpropVal{
    color: #C3916A;
}
.equalsWhite{
    color: white;
}

.ti{
    text-indent:25 px;
}

.ti2{
    text-indent: 50px;
}



.custom-card{
   background-color:black;
}
.Container{
    border: solid back 2px;
}